/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* app/assets/stylesheets/application.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }
  
  nav {
    justify-content: flex-end;
    display: flex;
    font-size: 0.875em;
    gap: 0.5rem;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  nav a {
    display: inline-block;
  }
  
  main {
    max-width: 1024px;
    margin: 0 auto;
  }
  
  .alert,
  .error {
    color: red;
  }
  
  .notice {
    color: green;
  }
  
  section.product {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  
  section.product img {
    border-radius: 8px;
    flex-basis: 50%;
    max-width: 50%;
  }
  